@charset"UTF-8";

@font-face {
    font-family: 'SVN-Gilroy-Medium';
    src: url('SVN-Gilroy-Medium.eot');
    src: url('SVN-Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
         url('SVN-Gilroy-Medium.ttf') format('truetype'),
         url('SVN-Gilroy-Medium.woff') format('woff'),
         url('SVN-Gilroy-Medium.woff2') format('woff2'),
         url('SVN-Gilroy-Medium.svg#SVN-Gilroy-Medium') format('svg');
    font-weight: normal;
    font-style: normal;}   

@font-face {
    font-family: 'SVN-Gilroy-SemiBold';
    src: url('SVN-Gilroy-SemiBold.eot');
    src: url('SVN-Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('SVN-Gilroy-SemiBold.ttf') format('truetype'),
         url('SVN-Gilroy-SemiBold.woff') format('woff'),
         url('SVN-Gilroy-SemiBold.woff2') format('woff2'),
         url('SVN-Gilroy-SemiBold.svg#SVN-Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;}

@font-face {
    font-family: 'SVN-Gilroy-Bold';
    src: url('SVN-Gilroy-Bold.eot');
    src: url('SVN-Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
         url('SVN-Gilroy-Bold.ttf') format('truetype'),
         url('SVN-Gilroy-Bold.woff') format('woff'),
         url('SVN-Gilroy-Bold.woff2') format('woff2'),
         url('SVN-Gilroy-Bold.svg#SVN-Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;}

@font-face {
    font-family: 'SVN-Gilroy-Heavy';
    src: url('SVN-Gilroy-Heavy.eot');
    src: url('SVN-Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
         url('SVN-Gilroy-Heavy.ttf') format('truetype'),
         url('SVN-Gilroy-Heavy.woff') format('woff'),
         url('SVN-Gilroy-Heavy.woff2') format('woff2'),
         url('SVN-Gilroy-Heavy.svg#SVN-Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;}


/**************** Typeface & Colors*/
.Gilroy {font-family:'SVN-Gilroy-Medium',sans-serif;}
.GilroySemi {font-family:'SVN-Gilroy-SemiBold',sans-serif;}
.GilroyBold {font-family:'SVN-Gilroy-Bold',sans-serif;}
.GilroyHeavy {font-family:'SVN-Gilroy-Heavy',sans-serif;}
